header {
  background: linear-gradient(90deg, #001b2f, #005695);
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 14vh;
}
.boxLogo {
  display: flex;
  align-items: center;
  gap: 1vw;
  h1 {
    color: white;
  }
}

.boxMenu {
  width: 35vw;
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
      color: white;
      font-size: 20px;
    }
  }
}

.boxInput {
  border: solid 1px white;
  width: 17vw;
  height: 6vh;
  margin-right: 20px;
  align-items: center;
  display: flex;
  justify-content: space-around;
  border-radius: 15px;
  input {
    width: 12vw;
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    font-size: 13px;
    &::placeholder {
      color: white;
    }
  }
}
//inicio do responsivo
@media (max-width: 1054px) {
  .boxLogo {
    width: 23vw;
    h1 {
      font-size: 19px;
    }
  }
  .Logo {
    height: 5.6vh;
  }
  .boxMenu {
    ul {
      height: 5vh;
      a {
        font-size: 17px;
      }
    }
  }
  .boxInput {
    input {
      &::placeholder {
        font-size: 11.5px;
      }
    }
  }
} // responsivo para leptop

@media (max-width: 900px) {
  .boxLogo {
    width: 22vw;
    h1 {
      font-size: 16px;
    }
  }
  .Logo {
    height: 4.4vh;
  }
  .boxMenu {
    ul {
      a {
        font-size: 12px;
      }
    }
  }
  .boxInput {
    width: 19vw;
    height: 5vh;
    input {
      &::placeholder {
        font-size: 10.7px;
      }
    }
  }
}

@media (max-width: 827px) {
  .boxLogo {
    width: 24vw;
    h1 {
      font-size: 16px;
    }
  }
  .Logo {
    height: 4.5vh;
  }
  .boxMenu {
    ul {
      a {
        font-size: 13.4px;
      }
    }
  }
  .boxInput {
    width: 19vw;
    height: 5vh;
    input {
      &::placeholder {
        font-size: 8.5px;
      }
    }
  }
  .boxBusca {
    height: 2vh;
  }
}
@media (max-width: 760px) {
  header {
    height: 25vh;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .boxInput {
    display: none;
  }
  .boxLogo {
    width: 80vw;
    justify-content: center;
  }
  h1 {
    font-size: 45px;
  }
  .Logo {
    height: 50px;
  }
  .boxMenu {
    width: 100%;

    ul {
      justify-content: space-evenly;
      a {
        font-size: 20px;
      }
    }
  }

  .boxBusca {
    height: 1.6vh;
  }
} // Responsivo para Tablet

@media (max-width: 501px) {
  .boxLogo {
    img {
      height: 40px;
    }
  }
  h1 {
    font-size: 35px;
  }
  .boxMenu {
    ul {
      a {
        font-size: 14px;
      }
    }
  }
} // responsivo para celulares
