.boxDoados {
  height: 70vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.boxcard {
  width: 85vw;
  height: 60vh;
  h3 {
    font-weight: 300;
  }

  article {
    border: solid 2px #005695;
    width: 19vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 15px;

    img {
      height: 10vh;
    }
  }
}

//inicio do Responsivo

@media (max-width: 900px) {
  .boxcard {
    article {
      width: 27%;
    }
  }
}
@media (max-width: 760px) {
  .boxDoados {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .boxcard {
    height: 50vh;
    article {
      border: solid 2px #005695;
      width: 100%;
    }
  }
}
@media (max-width: 501px) {
  .boxDoados {
    height: 65vh;
    justify-content: space-around;
  }
  .boxcard {
    article {
      width: 100%;
    }
    img {
      height: 7vh;
    }
    p {
      font-size: 13px;
    }
  }
  .boxcard {
    article {
      h3 {
        font-size: 18px;
      }
    }
  }
}
